.idea/


*.csv
*.log
*.log.*
*.json
*.tar.xz
*.pmml
*.tar.gz


*#*
*.class
*.sql
*.txt
*.pdf
*.zip
*.tar
*.jpeg
*.jpg
*.html
*.ipynb_checkpoints/

*.pyc

*.egg-info/
build/

.gitmodules

*~
*exp*
dist/

